.frameMap
{
    margin: auto;
    border: 0;
    max-width: 3000px;
    width: 95%;
    height: 450px;
    margin-bottom: 1rem;
}

.map{
    text-align: center;
}

.carlspics{
    display: grid;
    box-shadow: 0 0 10px lightgray;
    padding: 5rem;
    margin-top: 5rem;
}

.carlsbad{
    width: 100%;
}