:root{
    --heading-font: 'Merriweather', serif, 'Nunito', sans-serif;
    --paragraph-font: 'Nunito', sans-serif;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin:0;
}
#hero{
    width: 100%;
    height: 100vh;
    background: url(/images/Diamond_Bar_City_Hills.jpg) no-repeat center / cover;
    color: white;
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1000px;
}
h1{
    font-size: 35px;
    font-family: var(--heading-font);
}
nav a{
    text-decoration: none;
    color: black;
    font-family: var(--paragraph-font);
    padding: 15px;
}

nav{
    display: flex;
    list-style-type: none;
    text-align: center;
    line-height: 1em;
    padding-top: 10px;
}

