@media screen and (min-width: 500px)
{
    header img
    {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    nav ul{
        display:grid;
    }
    nav ul li{
        flex: 1 1 100%;
    }
}